    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <div class="container">
            <p class="mb-0">&copy; 2025 Ashyq Qarzhy Turkestan from Sanaly Urpaq(AITU). All rights пока что not reserved.</p>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>